#content {
  display: grid;
  grid-auto-flow: column; /* располагать элементы по колонкам */
  gap: 10px;
}

.u-legend {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    overflow-y: auto;
}
